/*
 *  Backend styles
*/
.x-grid3-col-articleid {
    overflow:hidden;
    border:1px solid #009fd9;
    text-decoration: blink;
    height:13px;
}
.x-grid3-col-bestellt{
    overflow:hidden;
    border:1px solid #009fd9;
    height:13px;
}
.x-btn button.magnifier{
    background: url("../../../../../../../engine/backend/img/default/icons/magnifier.png") no-repeat scroll 0 0 transparent;
}
.green{
    color:green;
}
.red{
    color:red;
}/*
*/
.orange{
    color:orange;
}
.bigred{
    color:red;
    font-size14px;
}
a.myonclick{
    cursor:pointer;
    font-size:12px;
    padding:8px 0 5px 0;
}
.Klarna_order_img{
    margin-left:25px;
}
.Klarna_abstand{

}
.underlined{
    text-decoration:underline;
}
.Klarna_loading{
    background-image: url("../img/ajax-loader.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-color:#fff;
    width:190px;
    height:70px;
}

/*
 *  Frontend styles
*/

#listing-3col .artbox .inner {
    height: 335px;
    width: 180px;
}

.KlarnaBannerInvoiceLeft {
    margin: 5px 0 -7px 0px;
    width: 189px;
}
.KlarnaBannerRatepayLeft {
    margin: 5px 0 -7px 0px;
    width: 189px;
}
.KlarnaBannerBothRight {
    margin-left: 8px;
    width: 150px;
}
.KlarnaBannerInvoiceRight {
    margin-left: 8px;
    width: 150px;
}
.KlarnaBannerRatepayRight {
    margin-left: 8px;
    width: 150px;
}
.KlarnaBannerBothTop {
    height:130px;
}
.KlarnaBannerInvoiceTop {
    height:130px;
}
.KlarnaBannerRatepayTop {
    height:130px;
}
.KlarnaRightSidebarInvoiceImg{
    width: 120px;
}
.KlarnaRightSidebarRatepayImg{
    width: 120px;
}
.KlarnaLeftSidebarInvoiceImg{
    width: 160px;
}
.KlarnaNorwayRateDiv{
    font-size: 90%;
    padding-left: 30px;
    width: 115px;
}
.KlarnaLeftSidebarRatepayImg{
    width: 160px;
}
.Klarna_rate_div{
    float: right;
    position: relative;
    margin-right:10px;
    width:310px;
}
.Klarna_backend_margin_left{
    margin-left:323px;
}
#detail .Klarnacolor{
    color:#0099FF;
}
#detail .Klarnacolor:hover{
    color:#0099FF;
}
.Klarna_agb_label{
    margin-left:25px;
}
.Klarna_agb_acceptlabel{
    width:90%;
    margin-left:5px;
}
.KlarnaShowRateDiv{
    width:230px;
}
.KlarnaFloatRight{
    position: relative;
    right: 128px;
    float: right;
}
.KlarnaRightSidebar{
    float: right;
    margin-left: 0 !important;
    overflow: hidden;
    position: static;
    width: 150px;
    background-color: #FFFFFF;
    border-color: #C7C7C7;
    display: inline;
}
#content #KlarnaRightSidebarHeader{
    border-right:none;
}
.Klarna_marginleft{
    margin:0 0 0 30px;
}
.Klarna_float_right{
    float:right;
}
.Klarna_rate_span{
    font-weight:bold;
    color:#000000;
}
.Klarna_rate_span_link{
    display: inline-block;
    padding-right: 10px;
}
.KlarnaRateSmallImg{
    width:90px;
}
.Klarna_rate_img{
    float:right;
    position:relative;
    right:125px;
}
.Klarna_radio_span{
    color:#000000;
    margin-left:5px;
}
.Klarna_partpayment{
    color:#0099FF; font-size:10px;
}

.KlarnaRateListingPrice{
    bottom: 10px;
    color: #000000;
    font-size: 85%;
    font-weight: 100;
    position: relative;
}
.artbox .Klarna_rate_normalprice{
    bottom:27px;
    position:absolute;
}

#PigmbhKlarnaPaymentWarning{
    margin: 0 0 10px 5%;
    width: 90%;
    background: none repeat scroll 0 0 #FFFFCC;
    border:#FFCC99 2px solid;
    color: #8A1F11;
    line-height:20px;
    font-weight:bold;
    opacity:0.9;
    padding: 3px;
}
#PigmbhKlarnaPaymentWarningAccount{
    margin: 0 5% 10px 0;
    width: 95%;
    background: none repeat scroll 0 0 #FFFFCC;
    border:#FFCC99 2px solid;
    color: #8A1F11;
    line-height:20px;
    font-weight:bold;
    opacity:0.9;
    padding: 3px;
}
#Klarna_marginleft{
    margin-left:29px;
}
.payment .KlarnaRatepayFieldset{
    background: none repeat scroll 0 0 #EEEFFF;
    border: 1px solid #CCCCCC;
    bottom: 60px;
    float: right;
    margin: 0 11px -70px 0;
    font-size: 100%;
    padding: 0 5px 5px;
    position: relative;
    width: auto;
    line-height: 32px;
}
.payment .KlarnaInvoiceFieldset{
    background: none repeat scroll 0 0 #EEEFFF;
    border: 1px solid #CCCCCC;
    bottom: 60px;
    float: right;
    margin: 0 11px -70px 0;
    font-size: 100%;
    padding: 0 5px 5px;
    position: relative;
    width: auto;
    line-height: 32px;
}
.KlarnaInvoiceLegend{
    font-weight: bold;
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
    color: #8A1F11;
    line-height: 20px;
}
.KlarnaRatepayLegend{
    font-weight: bold;
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
    color: #8A1F11;
    line-height: 20px;
}

.register .KlarnaInvoiceBirthdayDiv .KlarnaBirthdaySelect{
    padding:2px;
    width:auto;
}
.register .KlarnaRatepayBirthdayDiv .KlarnaBirthdaySelect{
    padding:2px;
    width:auto;
}
.register .KlarnaRatepayFieldset input{
    padding:2px;
    width:142px;
    float: right;
}
.register .KlarnaInvoiceFieldset input{
    padding:2px;
    width:142px;
    float: right;
}
.KlarnaNetherlandWarningDiv{
    width: 20px;
}
.KlarnaNetherlandWarningImg{
    float: left;
    width: 140px;
}
.KlarnaFloatLeft{
    float: left;
}
.KlarnaSubmitDiv{
    width:100%;
    float: right;
}
.register .KlarnaRatepayFieldset .KlarnaSubmit{
    width: auto;
    float: right;
}
.register .KlarnaInvoiceFieldset .KlarnaSubmit{
    width: auto;
    float: right;
}
.KlarnaRatepayBirthdayDiv{
    width: auto;
}
.KlarnaInvoiceBirthdayDiv{
    width: auto;
}
.KlarnaSubmit{
    float:right;
    font-size: 90%;
}
.register .payment_method .KlarnaHouseExtLabel{
    width: auto;
    font-size: 90%;
}
.register .payment_method .KlarnaSocialNrLabel{
    width: auto;
    font-size: 90%;
}

.register .KlarnaRegisterHouseExtLabel{
}
.register .KlarnaRegisterSocialNrLabel{
    width: 180px;
}
.register .KlarnaRegisterBirthdayLabel{
    width: 200px;
}
.register .payment_method .KlarnaLabelAccount{
    width:auto;
    font-size: 90%;
}

.Klarnacolor{
    color:#0099FF;
}
.Klarnacolor:hover{
    color:#0099FF;
}
.status132{
    display:none;
}
.status133{
    display:none;
}
.status131{
    display:none;
}
.status127{
    display:none;
}
.status130{
    display:none;
}

div.agb_accept label.Klarna_agb_acceptlabel{
    height: auto;
}
div.agb_accept input.KlarnaInput{
    top:0px;
}