<div id="paypalLogo">
<div class="inner_container">
    <a onclick="window.open(this.href, 'olcwhatispaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=500'); return false;"
       href="https://www.paypal.com/de/cgi-bin/webscr?cmd=xpt/cps/popup/OLCWhatIsPayPal-outside" target="_blank">
        <img src="{link file="frontend/_resources/images/paypal_logo.png"}"
             border="0" style="display: block; margin: 0 auto;"
             alt="PayPal Logo" />
    </a>
</div>
</div>