<img style="background: none !important; margin-top: 17px; margin-bottom: 7px;margin-left:0px;height:75px;float:left" src="/templates/bellaron/frontend/_resources/images/siegel.png" alt="" />
{if $sUserLoggedIn} <a style="display: inline-block;color: rgb(47, 173, 205) !important; margin-top:61px;margin-left:59px;color:red" class="logout" href="http://bellaron.de/account/logout">Logout</a> {/if}
<div id="mainNavigation">

		<!--li class="{if $sCategoryCurrent eq $sCategoryStart} active{/if}">
			<a href="{url controller='index'}" title="{s name='IndexLinkHome'}{/s}" class="first{if $sCategoryCurrent eq $sCategoryStart} active{/if}">
				{se name='IndexLinkHome'}Home{/se}
			</a>
		</li -->
	    <!--{foreach from=$sMenu.navi_zusatz item=item  key=key name="counter"}
			<li {if $sCategory.flag} class="active"{/if}>
			   <a href="{if $item.link}{$item.link}{else}{url controller='custom' sCustom=$item.id title=$item.description}{/if}" title="{$item.description}" {if $item.target}target="{$item.link}"{/if}>
                {$item.description}
               </a>


	        </li>


        {/foreach} -->


	<div id="produktberatung">
	   <span>Produktberatung</span><br/>
	   <span>09721/948822</span>
	</div>
	<a href="/kontakt" id="kontakt_top">Kontakt &amp; Beratung</a>
</div>







<!--<div id="mainNavigation">
    <ul>
        <li class="{if $sCategoryCurrent eq $sCategoryStart} active{/if}">
            <a href="{url controller='index'}" title="{s name='IndexLinkHome'}{/s}" class="first{if $sCategoryCurrent eq $sCategoryStart} active{/if}">
                {se name='IndexLinkHome'}Home{/se}
            </a>
        </li>
        {foreach from=$sMainCategories item=sCategory}
        {if !$sCategory.hidetop}
            <li {if $sCategory.flag} class="active"{/if}>
                <a href="{$sCategory.link}" title="{$sCategory.description}" {if $sCategory.flag} class="active"{/if}>
                    {$sCategory.description}
                </a>
            </li>
        {/if}
        {/foreach}
    </ul>
</div>-->