.klarna-payment {
    margin: 0;
    /*width: 998px;*/
    /*border: 1px solid #ccc;*/
}
.klarna-payment-snippet {
    border: 0px solid #ccc;
    border-width: 0 1px 1px;
    clear: both;
}
.klarna-payment-select {
    text-align: center;
    clear: both;
    height: 50px;
    padding: 0;
    margin: 0;
}
.klarna-payment-select .label {
    width: 99px;
    display: inline-block;
    line-height: 48px;
    background-color: #fff;
    float: left;
    color: #777;
    padding: 0;
    box-sizing: border-box;
}
.klarna-payment-select .label-default {
    width: 30%;
    border-bottom: 1px solid #ccc;
    padding-left: 20px;
}
.klarna-payment-select .label-klarna {
    border: 0px solid #ccc;
    border-width: 1px 1px 0;
    width: 70%;
    height: 50px;
    border-radius: 4px 4px 0 0
}
.klarna-payment-select .label label, .klarna-payment-select .label a {
    width: 100%;
    cursor: pointer;
    border: 0px solid #ccc;
    border-width: 1px 1px 0px 1px;
    border-radius: 4px 4px 0 0;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    background: #fff; /* Old browsers */
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 80%, rgba(0,0,0,0.1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(80%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 80%,rgba(0,0,0,0.1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0) 80%,rgba(0,0,0,0.1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 80%,rgba(0,0,0,0.1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 80%,rgba(0,0,0,0.1) 100%); /* W3C */
}
.klarna-payment-select .label-klarna label, .klarna-payment-select .label-klarna a {
    height: 100%;
    cursor: pointer;
    border: none;
    margin: 0;
}
.klarna-payment-select input {
    display:none;
}

.klarna-payment-select .label-klarna {
    background: url("../images/klarna/klarna.png") no-repeat center;
}
.klarna-payment-select .label-cash label {
    background: #fff url("../images/klarna/cash-disable.png") no-repeat center;
}
.klarna-payment-select .label-prepayment label {
    background: #fff url("../images/klarna/prepayment-disable.png") no-repeat center;
}
.klarna-payment-select .label-paypal label {
    background: #fff url("../images/klarna/paypal-disable.png") no-repeat center;
}
.klarna-payment-select .label-klarna label,
.klarna-payment-select .label-klarna a,
.klarna-payment-select .label-cash label,
.klarna-payment-select .label-prepayment label
, .klarna-payment-select .label-paypal label {
    text-indent: -9999px;
}
.klarna-payment-disable .label-klarna {
    background: url("../images/klarna/klarna-disable.png") no-repeat center;
}
.klarna-payment-disable .label-cash label {
    background: #fff url("../images/klarna/cash.png") no-repeat center;
}
.klarna-payment-disable .label-prepayment label {
    background: #fff url("../images/klarna/prepayment.png") no-repeat center;
}
.klarna-payment-disable .label-paypal label {
    background: #fff url("../images/klarna/paypal.png") no-repeat center;
}

@media all and (max-width: 700px) {
    .klarna-payment-select .label{
        background-size: 100%;
    }
}

.klarna-payment-disable .klarna-payment-select .label {
    color: #e1540f;
    height: 49px;
}
.klarna-payment-disable .klarna-payment-select .label-klarna {
    border-width: 1px;
    height: 49px;
}
.klarna-payment-disable .klarna-payment-select .label-default label {
    background: #fff;
}

#basket .actions {
    position: relative;
}
#basket .actions .klarna-button {
    position: absolute;
    right: 205px;
    top: 0
}
.klarna-button {
    background: url("../images/klarna/button.png") repeat-x scroll right 0 rgba(0, 0, 0, 0);
    margin-right: 10px;
}
.ajax_add_article a.modal_close {
    float: left;
}
.klarna-terms-register {
    position: absolute; bottom: 25px; clear: both; font-weight: bold;
}
.klarna-terms-register a, .klarna-terms-login a {
    text-decoration: underline !important;
}
.klarna-terms-login {
    margin-bottom: 15px;
}

/**
 * Conexco Template
**/

#gCenter .klarna-terms-register {
    bottom: 62px;
    clear: both;
    font-weight: inherit;
    position: absolute;
}

@media (min-width: 1200px) {
    #gCenter .klarna-terms-register {
        left: 310px;
    }
}