
@font-face {
  font-family: 'Cardo-Italic';
  src: url('Cardo-Italic.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cardo-Italic';
  src:  url('Cardo-Italic.woff') format('woff'), url('Cardo-Italic.ttf')  format('truetype'), url('Cardo-Italic.svg#Cardo-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}


