/**
	Shopware 3.5 Template Colors
	http://shopware.de

	@package		default
	@subpackage		css
	@category		design
	@version		v1
	@author			stp/Shopware AG <info@shopware.ag>
	@copyright		Copyright (c) 2010 Shopware AG (http://www.shopware.de)

	This stylesheets contains all color hexcodes which are used in
	the default template.

	MAIN COLORS

	Borders: 		#c7c7c7
	Backgrounds:	#f5f5f5
	Highlights: 	#dd4800
	Primary text:	#333333
	Secondary text:	#777777
	Separators:		#cccccc
*/

/*	GENERAL
	------------------------ */
html, a, a:link, a:active, a:hover, a:visted {color: #333;}
html {background-color:#FFF}
.container_20 {background-color: #fff; border-color: #cdcdcd}
h2, h3 {color:#999}
div.ico_new, div.ico_tipp, div.ico_esd {color: #fff;}
input.text {border-color: #bbb;}
div#article_details p.red {color:#264409}

#trustedShopsLogo, #paypalLogo, #paypalLogo_noborder {border-color: #c7c7c7;background-color: #f5f5f5;}
#trustedShopsLogo .inner_container, #paypalLogo .inner_container, #paypalLogo_noborder .inner_container {border-color:#e3e3e3;background: #fff;}
#trustedShopsLogo p, #paypalLogo p, #paypalLogo_noborder p {color: #777;}
.trustedshops_form {border-color:#c7c7c7;}

/* Lines */
hr.line {color: #dd4800;background-color: #dd4800; border-color: #dd4800}
hr.smallline {background-color:#c7c7c7}

/*	HEADING BOX
	------------------------ */
#content .headingbox, #content .headingbox_nobg, #content .headingbox_dark {color: #dd4800;border-color: #c7c7c7;background-color: #fff;}

/*	TABLE
	------------------------ */
tfoot {background-color:#f3f3f3; border-color:#dfdfdf;}
tfoot .last {border-color: #333}

/*	BUTTONS
	------------------------ */
a.button, input.button.small {color:#fff}
a.link {color:#666}

/*	SHOP NAVIGATION
	------------------------ */
#topbar input {color: #999;border-color:#fff;}
#topbar input:hover {border-color: #c7c7c7}
#topbar .currency {border-color: #c7c7c7}
#topbar select {color: #999;}
.my_options a {color: #dd4800}
#mainNavigation {background-color: #dd4800;}
#mainNavigation a {color:#fff;border-left-color: #dd4800;border-right-color: #e7702e}
#mainNavigation .dropactive:hover a {color: #dd4800;}
#mainNavigation a.first {border-left-color: #e7702e;}
#mainNavigation a.active {color: #dd4800;}

/* Drop down menu */
#mainNavigation ul li.dropactive:hover a {background-image: none;background-color: #fff;border-color: #000;border-bottom-color: #c7c7c7;color: #000;}
#mainNavigation ul li.dropactive:hover ul.dropdown li:hover a {color: #fff;background-color: #dd4800;}
#mainNavigation ul li.dropactive:hover ul.dropdown li:hover li a {color: #dd4800; background-color: #fff;}
#mainNavigation ul li.dropactive:hover ul.dropdown li:hover li:hover a {color: #fff;background-color: #dd4800;}
#mainNavigation ul li.dropactive:hover ul.dropdown li:hover li:hover li a {color: #dd4800;background-color: #fff;}
#mainNavigation ul li.dropactive:hover ul.dropdown li:hover li:hover li:hover a {background-color: #dd4800;color:#fff;}
#mainNavigation ul li.dropactive:hover ul.dropdown li li:hover a {color: #fff;}
#mainNavigation ul li.dropactive:hover li:hover a {color: #fff;background-color: #dd4800;}
#mainNavigation li:hover ul.dropdown, #mainNavigation li:hover ul.droplevel {background-color: #fff; border-color: #000;}
#mainNavigation ul li.dropactive:hover ul.droplevel {background-color: #fff;border-color: #000;}
#mainNavigation ul li.dropactive:hover ul.dropdown li.sub {background-color: #fff;}
#mainNavigation ul li.dropactive:hover ul.dropdown li.sub:hover {background-color: #dd4800;}
#mainNavigation ul li.dropactive:hover ul.dropdown li a {color:#dd4800;border-color: #c7c7c7;}

/*	AJAX BASKET
	------------------------ */
.ajax_basket_result, #header .ajax_basket_container {border-color: #c7c7c7; background-color: #f5f5f5;}
.ajax_basket_container .ajax_basket, #shopnavi .my_options a {color: #dd4800;}
.ajax_basket_result .inner_cart div {background-color: #fff;}
.ajax_basket_result .inner_cart div.premium {background-color: #E6EFC2; color: #264409;}
.ajax_basket_result .inner_cart div.premium a {color: #264409;}
.ajax_basket_result .inner_cart div.bundle {background-color: #FBE3E4;color:#8A1F11;}
.ajax_basket_result .inner_cart div.bundle a {color: #8a1f11}
.ajax_basket_result .inner_cart {border-color: #c7c7c7;background-color: #c7c7c7;}

/*	BREADCRUMB
	------------------------ */
div#breadcrumb {border-color: #fff;color: #777}
div#breadcrumb a {color: #777;}
div#breadcrumb a.last {color:#DD4800}
div#breadcrumb .sep {color:#ccc}

/*	SIDEBAR LEFT
	------------------------ */
#content #left ul li {border-color: #fff;}
#content #left ul li, .basket_dispatch_description {background-color: #EFE9E2;}
#content #left ul li a {color: #dd4800;}
#content #left ul li.active {background-color: #fff;border-color: #efe9e2;}
#content #left ul li.active.sub a.active {border-bottom-color: #efe9e2}
#content #left ul li.active li {background-color: #fff;}
#content #left ul li.active li a {color:#474747;}
#content #left ul li.active li.active a {color: #dd4800;}
#content #left ul li.active li.active li a {color:#797979;}
#content #left ul li.active li.active li a.flag {color:#dd4800;}
#content #left ul li.active li.active li.active a.flag {color:#797979;}
#content #left ul li.active ul.submenu ul, #content #left ul li.active ul.submenu ul.submenu ul.submenu {border-color: #EFE9E2;}
#content #left ul#servicenav {border-color: #c7c7c7; border-left-color: #fff;}
#content #left ul#servicenav li.heading {color: #636363;border-left-color:#e3e3e3;border-bottom-color:#e3e3e3;}
#content #left ul#servicenav li a {color:#7f7f7f}
#content #left ul li.active li.active li .level3 li.active a {color: #dd4800;}

/*	SIDEBAR RIGHT
	------------------------ */
#content #right div.heading {border-color: #e3e3e3;}
#content #right div.heading h2 {color: #dd4800;}
div.supplier_filter, div.supplier_filter h5 {border-color: #c7c7c7;}
div.supplier_filter div {border-color: #c7c7c7;border-bottom-color: #fff;color:#5c5c5c}
div.supplier_filter div.active {color: #dd4800;}
div.supplier_filter ul li {background-color: #fff;border-color: #c7c7c7;}
div.supplier_filter ul li a {color:#666;}
div.supplier ul li, div#hersteller_filter ul li {border-color: #dfdfdf;}
div.supplier ul li.active a {color:#dd4800;}
div.supplier_filter, div#hersteller_filter span {background-color: #fff;border-color:#ccc;}
div.supplier, div.blogFilter, div.blogInteract {background-color: #fff; border-color:#c7c7c7;}
div.supplier ul li, div.blogFilter ul li, div.blogInteract ul li {border-color: #c7c7c7;}
div.supplier ul li.active a, div.blogFilter ul li.active a, div.blogInteract ul li.active a {color:#dd4800;}
div.supplier ul li.image {background-color: #fff;}
#content #right_custom .inner_container, .bt_allsupplier {border-color: #c7c7c7;}

/*	CONTENT CENTER
	------------------------ */
.teaser, .teaser_small {border-color:#e7e7e7;}
.blogentry .post_metadata {color:#A8A7A7}
.blogentry .post_metadata span {border-color:#e6e6e6;}
#center .teaser_small h1, #content .orders h1, #content .downloads h1, #content #ticket h1 {color: #999;}
#content .cat_text .inner_container, #content .register .supplier_register .inner_container {border-color: #c7c7c7;}
#content .cat_text h1, #content .custom h1, #content .supplier_register h1 {color: #dd4800;}
#supplierfilter, .notice {border-color: #dd4800;background-color: #fff;}
.notice, .notice a {color:#333;}


/*	GENERAL LISTING
	------------------------ */
.listing_actions {background-color:#f5f5f5;border-color:#c7c7c7;}
.listing_actions .bottom {border-color:#e3e3e3;}
.listing_actions a.perpage, .listing_actions.bottom a.perpage, .listing_actions.bottom a.navi, .listing_actions a.navi {background-color:#fff;border-color:#c7c7c7;}
.listing_actions div.more {background-color:#FFFFFF;border:1px solid #C7C7C7;}
.listing_actions a.on, .listing_actions.bottom a.on {background-color:#dd4800;color:#fff;}
.artbox {border-color: #c7c7c7;}
#listing-1col .artbox {border-color:#c7c7c7;border-top-color:#e3e3e3;}
.artbox.first {border-top-color: #c7c7c7;}
.artbox.last {border-bottom-color:#c7c7c7;}
.artbox .inner {border-color:#fff;}
.artbox p.desc {color: #777;}
.artbox .actions a, #related .listing .artbox .actions a, .listing_actions .offers {color: #696969;border-color: #e3e3e3;}
.artbox .actions a.more, #related .listing .artbox .actions a.more, .listing_actions .offers:hover {color: #dd4800;}
.artbox p.pseudoprice span.price {color:#990000;}
.artbox span.pseudo {color: #777;}

.listing_actions .offers:hover {border-color: #c7c7c7;}

#listing-1col .artbox.last {border-color: #c7c7c7;border-top-color:#e3e3e3;}

/*	ARTICLE DETAILS
	------------------------ */
#detail h1 {color:#333;}
#detail .border {border-color: #c7c7c7;}

#detail, #detail a,
#content #detail .article_details strong.supplier,
.artbox .article_price_unit p,
.artbox .article_price_unit_pseudo p,
div#notes .article_price_unit p,
#content .orders .orderoverview_active .article_price_unit {color:#999;}

.article_overview {color:#9c9c9c}
.article_overview a {color:#7a7a7a;}
#detail .article_details_price2 strong {color: #990000}
#detail .article_details_price2 strong.starting_price {color: #333;}
#content #detail #detailbox_middle .article_details_price strong {color: #333;}
.cloud-zoom-big, #cloud-zoom-big, #thumbs a, .thumb_box a:hover, ul#menu_right {border-color:#dedede}
#thumbs a:hover, #thumbs a.active {border-color:#555}
.thumb_box a {border-color:#e3e3e3;background-color:#fff;}
.thumb_box a:hover {border-color: #999}
#detail #article_details .modal_open a {color: #666;}

.deliverable1 {color: #009900;}
.deliverable2 {color: #514721;}
.deliverable3 {color: #990000;}
.deliverable4 {color: #990000;}

.box_bundleset {border-color:#c7c7c7;}
#detail #detailinfo #comments form {background-color: #f5f5f5;border-color: #c7c7c7;}
.box_bundleset .bundlePrice {color: #333;}
.bundle_container .bundleset .discount {color: #990000}
.bundle_box .box_bundleArticleNames {background-color: #fff}
.ui-tabs .ui-tabs-nav li.ui-state-active {background-color: #fff;}
.ui-tabs .ui-tabs-nav li, #detail #detailinfo .inner_tabs {border-color: #c7c7c7}
#detail #detail_menu li, #detail #detail_menu li.lastrow {border-color: #c7c7c7; color:#555;border-bottom-color:#c7c7c7;}

#detail #detailinfo .similar {border-left-color:#e3e3e3;}
#detail #detailinfo .similar .artbox .artbox_thumb {border-color: #dbdbdb;background-color: #fff;}
#detail #detailinfo .similar .artbox strong.title {color: #999;}

#detail #detailinfo .similar .artbox .price, #tabs .ui-tabs-panel, #tabs .ui-tabs-panel a {color: #333}
#detail #detailinfo #description  {color: #555;}
#detail #detailinfo .ui-tabs-panel h3 {color: #333;}
#detail #detailinfo .ui-tabs-panel .date {color: #999;}
#detail #detailinfo .ui-tabs-panel .author {color: #666;}
#detail #detailinfo #comments .comment_block {border-color:#e3e3e3;}

#sendArticleNotification {border-color: #c7c7c7; background-color: #f5f5f5;}
#sendArticleNotification label {color: #555;}

#buybox .upprice_config strong, #buybox .config_select strong {color: #dd4800;}
#content #buybox .basketform .accessory_overlay {background-color:#fff;}
#buybox .accessory_container .accessory_group {border-color: #c7c7c7;}
#content #buybox .basketform .accessory_overlay .title, #content #buybox .basketform .accessory_overlay .price {color: #333;}
#buybox .accessory_container label {color: #555;}

/*	BASKET PAGE
	------------------------ */
/* General table coloring */
.table .table_head {background-color: #F5F5F5;border-color:#c7c7c7;}
.table .table_row, .table .lastrow, .table .table_foot {border-color: #C7C7C7;border-top-color: #e3e3e3;}

.table .ordernumber, .table .supplier, .table .zoom_picture, div#notes .table_row .date  {color: #999;}

/* Row specific row coloring */
.table .bundle_row, #basket .bundle_row {background-color:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.table .table_foot #aggregation_left strong, .table .table_foot #aggregation strong {color: #707070;}
.table .table_foot #aggregation .border, .table .table_foot #aggregation .doubleborder {border-color: #c7c7c7;}

/* Premium row */
.table .table_premium, #basket .table_premium {border-color:#c7c7c7;background-color:#f5f8e3;color:#65956b}
.table .table_premium .body .article, #basket .table .table_premium .body .article, .table .table_premium .body .article .thumbnail, #basket .table .table_premium .body .article .thumbnail {background-color:#fff;border-color:#dadada;}
.table .table_premium h5, #basket .table_premium h5 {color:#43691E}
.table .table_premium .bonus_price .pr2, #basket .table .table_premium .bonus_price .pr2 {color:#e25400;}
.table .table_premium div.body div.article .name a, #basket .table .table_premium div.body div.article .name a, .table .table_premium .bonus_price p.pr2, #basket .table .table_premium .bonus_price p.pr2 {color: #666}

.shippingfree_basket {background-color: #EEF6C7;color: #758E00;}
.accept_box {background-color: #696969;}
.accept_box h3 {color:#fff;}
div.table_foot .box {background-color: #f5f5f5;border-color: #c7c7c7;}

#content #left #recalcShipping, .basket_dispatch_description {border-color: #c7c7c7;border-left-color: #fff;}
#content #left.basket h5, .basket_dispatch_description h3 {color: #dd4800;}

div#notes .table_row .first a.zoom_picture {color: #a1a1a1}
div#notes .table_row .action a.basket {border-color: #efebe2;}
div.table_foot input.button_tablefoot {color: #fff;}
#content div.table_foot .totalamount strong {color: #333}
div#notes .table_row .action a.basket {color: #dd4800;}

/* change details */
.info div {border-color: #c7c7c7;}
.info div .heading, #login div h2 {color: #dd4800;border-color: #c7c7c7; border-color-left: #fff;}
#content .inner .check_order {border-color: #c7c7c7; width: 1000px;float:none;margin:auto; margin-left: 451px; margin-bottom: 10px; }
#content .inner .check_order h2 {color: #2BADC9;}
#content .inner .check_order strong {color: #333;}

/*	LOGIN AND REGISTER
	------------------------ */
div#right.register h2 {color: #dd4800; border-color: #c7c7c7;}
div#right.register ul {border-color: #c7c7c7;}
#login .inner_container {background-color:#f5f5f5;border-color:#c7c7c7; height: 230px;}
#schnellregistrierung, .registerform {background-color: #F6F6F6;}
#right.register ul {color:#666}
.payment fieldset {background-color:#f6f6f6;border-color:#dedede}
.register .personal_settings, .register .shipping_address, .register .payment_method, .register .company_informations, .register .alternative_shipping {border-color: #c7c7c7; background-color: #f3f3f3}
.register div h2.heading {background-color: #fff;color:#dd4800;}
#content .tellafriend .register h2.headingbox_dark {border-color: #c7c7c7;}
.basket .agb {background-color: #f5f5f5;border-color: #c7c7c7;}
.register .payment_method .method {border-bottom-color: #dadada}
#content #left select {background-color: #f5f5f5;}

/* Step box */
div.step_box ul li {border-color: #ebebeb}
div.step_box ul li.active {border-color: #c7c7c7;}
div.step_box ul li .icon {border-color: #dedede; color: #919191;}
div.step_box ul li.active .icon {color: #fff;}
div.step_box ul li .text {color: #919191;}
div.step_box ul li.active .text {color: #dd4800;}

/*	ORDER PROCESS
	------------------------ */
div.agb_accept, div.agb_accept label.chklabel {color:#444}
div.agb_info {color:#888}
.basket .more_info {border-color: #c7c7c7;}

.additional_footer .comment, .additional_footer .agb  {background-color: #f5f5f5;border-color: #c7c7c7;}
.additional_footer .more_info, #finished .orderdetails, #finish_right .revocation {border-color: #c7c7c7;}
.additional_footer .agb .revocation {border-color:#c7c7c7;background-color: #fff;}
#content #payment {border-color: #c7c7c7;}
#confirm .shipping_select {border-color: #c7c7c7;}

/*	AJAX MODAL BOXES
	------------------------ */
div.ajax_login_form .heading h2, .modal .heading h2, div.ajax_add_article .bottom h2, #compare_bigbox .heading h2 {color: #dd4800;}
div.ajax_login_form .existing_customer {border-color: #c7c7c7;}
div.ajax_add_article, div.ajax_login_form .existing_customer {background-color: #f1f1f1;}
div.ajax_add_article .article_box, div.ajax_add_article .bottom {background-color: #fff;}
div.ajax_add_article .article_box .title , div.ajax_add_article .article_box .price {color: #333}
div.ajax_add_article .article_box .ordernumber, div.ajax_add_article .article_box .quantity {color: #999;}
.ajax_compare_container .grid_3 div {border-color: #e3e3e3;}

/*	USER ACCOUNT
	------------------------ */
.account #userinformations .inner_container, .account #selected_payment .inner_container, .account .newsletter .inner_container, .account .billing .inner_container, .account .shipping .inner_container, #right .adminbox, .addresses .select_billing , .addresses .select_shipping, .addresses, .password form div, .account .email .inner_container {border-color: #c7c7c7;background-color: #f5f5f5;}
.account #userinformations h3, .account #selected_payment h3 , .account .newsletter h3, .account .billing h3, .account .shipping h3, #right .adminbox h3, .account .password h3, .addresses h2, .password form h2, .finished h3 {color: #dd4800;background-color:#fff;}
div.orderdata_box div, #newsletterfrm, #frmRegister {background-color: #f7f7f7;}
#right_account .adminbox {border-color: #c7c7c7;}
#right_account .adminbox li {border-color: #e3e3e3;}
.adminbox h3 {background-color: #EEF6C7;}
.adminbox a:hover {color:#758e00}
.addresses .change a, .contact .form .grid_9 .change a, .addresses .select_billing .change input, .contact .form .change_password {background-color: #c7c7c7}
#right .adminbox, #right .adminbox h3, .addresses, .addresses h2 {background-color: #fff;}
#content div.inner .change_shipping div.alternative_shipping, #content div.inner .change_billing .shipping_address {border-color: #c7c7c7;}
#content .orders .orderoverview_active .lastrow {border-color: #c7c7c7;}
#content .orders .orderoverview_active .table_foot p.bold, #content .orders .orderoverview_active .table_foot div p {color:#333;}

.addresses .inner_container, .addresses .inner_container .select_billing, .addresses .inner_container .select_shipping, .account .password .inner_container {border-color: #c7c7c7;}
.password .outer {border-color: #c7c7c7;}

/* Ticketsystem */
#ticket h2, .ticketdetail_lbl, .tickeranswer h2 {color: #dd4800;}
#ticket h2, .ticketdetail_lbl, .tickeranswer h2, .tickeranswer, .ticketdetail_txtbox {border-color: #c7c7c7;}
.ticketdetail_txtbox {background-color: #fff;}
.tickeranswer {background-color: #f5f5f5}

/*	TICKETSYSTEM
	------------------------ */
.ticketoverview {background-color:#F6F6F6;border-color:#DFDFDF;}
.ticketoverview .header, .ticketoverview .header div.grid_3 {border-color:#DFDFDF;}
.ticketoverview .content {background-color:#fff;border-color:#dfdfdf;}

/* Form system */
.supportrequest .contact_box {background-color: #f7f7f7;}
.supportrequest h1, .supportrequest h1 {color: #999;}

/*	ENTRIES
	------------------------ */
#listing-blog .blogbox, #content .blogbox, .contentdetail, .newsletter_entry, .newsletter_detail, .newsletter_detail .newsletter_content {border-color: #c7c7c7;}
#content .listing_box, #content .listing_box h2.headingbox_nobg {border-color: #c7c7c7;}
.listing_box .blogbox p {color: #555;}
.blogbox h2, .contentlisting_box h2, .contentdetail h2, .newsletter_entry h2, .newsletter_detail h2 {color: #262626;}
.blogbox .post_metadata {color: #A8A7A7;}
.blogbox .post_metadata span {border-color: #e6e6e6}
.blogbox .post_metadata span a {color: #dd4800;}
.blogbox .tags .tag {background-color:#eee;border-color:#c7c7c7;color: #333;}
.blogbox .tags .tag:hover {background-color: #bbb;border-color:#777;color:#fff;}
.blogbox h2.heading {color: #dd4800;border-color: #c7c7c7;}
.blogbox a.more_info, .content_listing a.more_info, bt_allsupplier {border-color: #c7c7c7;}
.blogbox a.more_info:hover, .content_listing a.more_info:hover, .bt_allsupplier:hover {color:#dd4800}
.blogbox .thumbnail_box a {border-color: #e6e6e6;}
.blogbox .thumbnail_box a:hover {border-color: #c7c7c7;}

div#commentcontainer ul, form.comments {border-color:#c7c7c7;}
div#commentcontainer .comment_outer {border-color: #e3e3e3;}
form.comments {background-color: #f5f5f5;}
div#commentcontainer .date {color:#999;}

/*	VIEWLAST
	------------------------ */
.viewlast {border-color:#c7c7c7 #c7c7c7 #c7c7c7 #fff;}
.viewlast .heading {color: #636363;border-color: #e3e3e3}
.viewlast .article_image {border-color: #e7e7e7;}
.viewlast .article_description {color:#888}

/*	LIVESHOPPING
	------------------------ */
.time_prozessbar_container, .instock_prozessbar_container {border-color: #d4d4d4}
#time_prozessbar {background-color:#fff;}
.liveshopping_box {border-color:#dd4800;}
.stoerer_rabatt {color:#fff;}
.box_name, .box_name_countdown {color:#000;}
.box_surcharge_text {color:#DE0C41;}
.liveshopping_box_countdown, .liveshopping_box_timeline {border-color:#d3d3d3}
.price_start, .live_info {color: #666;}
.price_current, .live_stock, .live_stock p {color:#fff;}
.box_description_countdown {color:#555}
.box_timer, .box_timer_detail {color:#999;}

/*	TAGCLOUD
	------------------------ */
.tagcloud {background-color:#fff;border-color:#c7c7c7;}
.tagcloud a.tag0, #tagcloud_promotion a.tag0 {color:#999}
.tagcloud a.tag1, #tagcloud_promotion a.tag1, #tagcloud a.tag2, #tagcloud_promotion a.tag2 {color: #666}
tagcloud a.tag3, #tagcloud_promotion a.tag3 {color: #000;}

/*	SEARCH
	------------------------ */
div#searchcontainer {background-color:#EFE9E2;}
#submit_search {color:#fff;background-color:#df4800;border-color:#e45a01;}
form#searchform input#searchfield {color: #666;border-color: #bbb; background-color: #fff;}
#header_links, #header_links a {color:#999;}
div#searchresults {background-color:#fff;border-color :#c7c7c7;color:#888}
a.resultall {color:#dd4800;}
a.resultall span.result_number {color:#868686}
li.searchresult {border-color: #e3e3e3;}
li.searchresult ul li:hover{background-color:#f3f3f3}
li.searchresult h3 {color: #7D7D7D;}
li.searchresult_supplier {border-color:#777;background-color:#f1f1f1}
li.searchresult_supplier h2{color:#888;}
li.searchresult_supplier a.resultlink {border-color:#999; background-color:#fff;}
li.searchresult_supplier a.searchthumb {border-color:#999}
li.searchresult_cat {border-color:#777;background-color:#f1f1f1;}
li.searchresult_cat h2{color:#888;}
li.searchresult_cat ul li{border-color:#cfcfcf}
li.searchresult_cat ul li.header:hover{background-color:#f1f1f1}
li.searchresult_cat ul li:hover{background-color:#fff}
#header_links a {color:#999;}
div#searchresults {background-color:#fff;border-color:#c7c7c7;color:#888;}
li.searchresult ul li {border-color:#c7c7c7}
li.searchresult ul li:hover {background-color:#f3f3f3}
li.searchresult_supplier {background-color: #f1f1f1;border-bottom-color:#777;}
li.searchresult_supplier h2 {color: #888}
li.searchresult_supplier a.resultlink {border-color: #999;background-color: #fff;}
li.searchresult_supplier a.searchthumb {border-color: #999}
.searchresult .active {background-color:#e9e9e9;}

/*	SEARCH PAGE
	------------------------ */
.fuzzy div.result_box {border-color: #c7c7c7; border-bottom-color: #e3e3e3;}
div.category_filter {border-color:#eef6c7;background-color:#fff;}
div.category_filter .cat_crumb strong, div.category_filter h4 {color:#758E00;}
div.category_filter a.cat {color:#666;}
div#left div.searchbox h3 {color: #758E00}
#content div#left div.searchbox ul {background-color: #fff;}

.fuzzy h2 {color: #00a400}
.fuzzy .category_filter h3, #content #left .filter_search h3.heading {color: #dd4800; border-color: #c7c7c7}
.fuzzy .category_filter .border {border-color: #e3e3e3}
.fuzzy .category_filter .categories {border-color: #c7c7c7;}
.fuzzy .category_filter .showall {color: #9e0000;}
#content #left .filter_search h3.heading {border-left-color: #fff;}
#content #left .filter_search .searchbox {border-color: #c7c7c7; border-left-color: #fff;}
#content #left .filter_search .searchbox h3, #content #left .filter_search .searchbox li.showall a {color: #555;}
#content #left .filter_search .searchbox li a, #content #left .filter_search .searchbox li.active {color:#333;}

/*	FINISHED AND COMPARE
	------------------------ */
.finished h3, .finished p.bold, #compareContainerResults li, #compareHighlight, .container_20 .grid_3.compare_desc {border-color: #c7c7c7;}
#compare_bigbox {border-color: #333;}
#compareHighlight {border-color: #fff;color: #dd4800;}
#compareHighlight.active {border-color: #333;border-bottom-color: #c7c7c7;color: #333;}
#compareContainerResults {background:#fff; border-color: #333;}
.compare_desc div {background-color: #f5f5f5;}

.content_listing, #tagcloud {border-color:#c7c7c7;}

/*	TOPSELLER
	------------------------ */
.topseller {border-color: #cfcfcf;border-right-color:#fff;}
.topseller h3 {color: #dd4800;border-bottom-color: #e3e3e3;}

/*	FORM SYSTEM
	------------------------ */
#content .supportrequest .inner_container {border-color: #c7c7c7;background-color:#f5f5f5;}

/*	TELL-A-FRIEND
	------------------------ */
.tellafriend h2 {border-color: #c7c7c7;background-color:#fff;}
.tellafriend fieldset {border-color: #c7c7c7;background-color: #f5f5f5;}

/*	SITEMAP
	------------------------ */
ul#categories_s li {border-color: #fff;}
ul#categories_s, ul#categories_s a.active {background-color: #dd4800;}
ul#categories_s a.active {color: #fff;}
ul#categories_s ul {border-color: #fff;}

ul#categories_s ul a, ul#categories_s ul a.active {background-color: #f5f5f5}
ul#categories_s ul a.active {color: #333;}
ul#categories_s ul ul a.active {background-color: #f5f5f5;color: #333;}
ul#categories_s ul ul ul a {background: #f5f5f5;}
ul#categories_s ul ul ul a.active {background-color: #fff;color: #000;}

/*	BUNDLE
	------------------------ */
.bundle_container h2.heading, .relatedbox_container h2.heading, .bundle_container .bundleset .price_container, .relatedbox_container .price_container  {background-color:#f5f5f5;}
.bundle_container h2.heading, .relatedbox_container h2.heading, .bundle_container .bundleset .price_container h3.heading, .relatedbox_container .relatedbox .price_container h3.heading, .bundle_container .bundleset .price_container .price, .relatedbox_container .relatedbox .price_container .price, .bundle_container .names h4, .bundle_container .names li, #detail .bundle_container .names li a, #detail .relatedbox_container .related_checker a {color: #555;}
.bundle_container .bundleset .plus, .relatedbox_container .relatedbox .plus {color: #dd4800;}

/*	LIVESHOPPING
	------------------------ */
.liveshopping_container {border-color: #dedede;}
.liveshopping_container .liveshopping_right, .liveshopping_container .liveshopping_middle, #detail .liveshopping_detail .live_price_normal .top strong.time_left, #detail .liveshopping_detail .top .time_left, #detail .liveshopping_detail .top .time_left span {color: #777}
.liveshopping_container .liveshopping_bottom h3.headline a {color: #555;}

.liveshopping_container .liveshopping_right .discount, #detail .liveshopping_detail .discount {color: #BF0017}
#content .inner .liveshopping_container .liveshopping_right .live_price_normal .bottom, #content .inner .liveshopping_container .liveshopping_right .live_price_normal .bottom strong {color: #f5f5f5}
#content .liveshopping_container .liveshopping_middle .quantity .liveprice_container_up div.right, #content .liveshopping_container .liveshopping_middle .quantity .liveprice_container_down div.right,
#content .liveshopping_container .liveshopping_middle .middle,
#content .liveshopping_container .liveshopping_middle .middle strong,
#content .liveshopping_detail .live_price_normal .bottom .price {color: #fff;}
.liveshopping_detail .time_bars .time_processbar_container, .liveshopping_container .time_bars .time_processbar_container, .liveshopping_container .time_bars .instock_processbar_container, .liveshopping_detail .time_bars .instock_processbar_container {border-color: #ccc;}
.liveshopping_detail .time_bars .time_processbar_container div, .liveshopping_container .time_bars .time_processbar_container div, .liveshopping_container .time_bars .instock_processbar_container div, .liveshopping_detail .instock_processbar_container div {background-color: #fff}
#detail .liveshopping_detail .live_price_normal .bottom {color: #f7f7f7;}

#detail .liveshopping_detail .middle, #detail .liveshopping_detail .middle strong, #detail .liveshopping_detail .quantity .liveprice_container_up div.right, #detail .liveshopping_detail .quantity .liveprice_container_down div.right, #detail .liveshopping_detail .quantity strong {color: #fff;}
#detail .liveshopping_detail .middle .bar_time div {background-color: #fff;}

/*	AJAX SLIDER
	------------------------ */
.ajaxSlider, .ajaxSlider .leftArrow, .ajaxSlider .rightArrow, .vertical_slider .ajaxSlider .leftArrow, .vertical_slider .ajaxSlider .rightArrow, #content .vertical_slider .ajaxSlider h2 {background-color: #fff;border-color: #c7c7c7;}
#content .ajaxSlider .artbox p.price, #content .ajaxSlider p.pseudoprice {color: #555;}
#content .slider_banner .slide_navigation a {color: #fff;}
#content .slider_banner .slide_navigation a.active {color: #333;}

/*	FOOTER
	------------------------ */
#footer .footer_menu {border-color: #d7d7d7}
#footer .footer_menu a {color: #7f7f7f}
#footer .bottom p, #footer .bottom .border {color: #888}
.shopware_footer, .shopware_footer a {color: #777}