
@font-face {
  font-family: 'OpenSans-Light';
  src: url('OpenSans-Light.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Light';
  src:  url('OpenSans-Light.woff') format('woff'), url('OpenSans-Light.ttf')  format('truetype'), url('OpenSans-Light.svg#OpenSans-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}


