/* This is the moving lens square underneath the mouse pointer. */
.cloud-zoom-lens {
	border: 4px solid #888;
	margin:-4px;	/* Set this to minus the border thickness. */
	background-color:#fff;
	cursor:move;
}

/* This is for the title text. */
.cloud-zoom-title {
	font-family:Arial, Helvetica, sans-serif;
	position:absolute !important;
	background-color:#000;
	color:#fff;
	padding:3px;
	width:100%;
	text-align:center;
	font-weight:bold;
	font-size:10px;
	top:0px;
	left:0px;
}

/* This is the zoom window. */
.cloud-zoom-big {
	border:0px solid #ccc;
	overflow:hidden;
}

/* This is the loading message. */
.cloud-zoom-loading {
	color:white;
	background:#222;
	padding:3px;
	border:1px solid #000;
}

/*	SLIMBOX2
	------------------------ */
#lbOverlay {
	position: fixed;
	z-index: 8000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #555;
	opacity: 0.8;
	cursor: pointer;
}

#lbCenter, #lbBottomContainer {
	position: absolute;
	z-index: 8500;
	overflow: hidden;
	background-color: #fff;
}

#lbCenter {
	-webkit-box-shadow: 0px 0px 15px rgba(22, 22, 22, 0.9);
	-moz-box-shadow: 0px 0px 15px rgba(22, 22, 22, 0.9);
}

.lbLoading {
	background: #fff url(../images/icons/ico_ajax-loader.gif) no-repeat center;
}

#lbImage {
	position: absolute;
	left: 0;
	top: 0;
	border: 10px solid #fff;
	background-repeat: no-repeat;
}

#lbPrevLink, #lbNextLink {
	display: block;
	position: absolute;
	top: 0;
	width: 50%;
	outline: none;
}

#lbPrevLink {
	left: 0;
}

#lbNextLink {
	right: 10px;
}

#lbBottom {
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size: 10px;
	color: #666;
	line-height: 1.4em;
	text-align: left;
	border: 10px solid #fff;
	border-top-style: none;
}

#lbCloseLink {
	display: block;
	float: right;
	width: 66px;
	height: 22px;
	margin: 5px 0;
	outline: none;
}

#lbCloser {
	width: 22px;
	height: 22px;
	background: url(../images/icons/ico_closebutton.gif) no-repeat;
	position: absolute;
	top:0;
	margin: -11px 0 0 -11px;
	z-index: 9000;
	cursor: pointer;
}
#lbThumbs {
	padding: 15px 0 0 0;
	display: none;
	background: #efefef;
	width: 165px;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	position: absolute;
	right: 0;
	text-align: center;
	overflow: scroll;
	display: none;
}
#lbThumbs a img {
	display: block;
	max-width: 128px;
	max-height: 68px;
	border: 5px solid #dfe6eb;
	margin: 5px auto;
}
#lbThumbs a img:hover, #lbThumbs a img.active {
	border: 5px solid #10A0DE;
}

/*	MODAL BOX
	------------------------ */
.modal {
	z-index: 9000;
	border: 1px solid #333;
	top: 10%;
	left: 50%;
	width: 560px;
	background: #fff;
	position: fixed;
}
.modal h2 {
	font-family: Arial, Helvetica, 'Helvetica Neue', Verdana, sans-serif;
	color: #333;
	letter-spacing: -1px;
	line-height: 1;
	font-size: 21px;
}
.modal p {
	font: 13px/18px Arial, Helvetica, 'Helvetica Neue', Verdana, sans-serif;
	color: #555;
	-webkit-text-stroke: 1px rgba(255, 255, 255, 0.08);
}
.modal .table_foot p, .modal .table_row p {
	font: 11px/1.3em "Lucida Grande",Tahoma,Verdana,Arial,sans-serif;
	margin: 0 0 0.5em;
}
.modal div.listing {
	font-size: 11px;
}

.modal iframe {
	border: 0 none;
	width: 100%;
}
.modal .close:active {
	bottom: 14px;
}

/*	LOADING INDICATOR
	------------------------ */
.loadingIndicator {
	background: #fff url(../images/icons/ico_ajax-loader.gif) center center no-repeat;
	text-indent: -9999px;
	border: 1px solid #333;
	position: fixed;
	top: 50%;
	left: 50%;
	height: 64px;
	width: 64px;
	z-index: 99999;
}

/*	SUGGEST SEARCH
	------------------------ */
div#searchresults {
    display: none;
    width: 450px;
    padding: 0px 0px 40px;
    border: 3px solid #c7c7c7;
    z-index: 8000;
    position: absolute;
    top: 200px;
    left: 255px;
    font-size: 10px;
    line-height: 12px;
}
a.resultall {
    position: absolute;
    bottom: 0;
    cursor: pointer;
    padding: 14px 0;
    font-size: 11px;
    font-weight: 700;
    width: 100%;
    text-align: center;
    display: block;
    width: 450px;
    left: 0;
}
a.resultlink { cursor: pointer }
li.searchresult {
    padding: 8px 5px;
    margin: 0 0 0 0;
    position: relative;
    left: 0px;
    top: 0px;
    clear: both;
    text-align: left;
    border-bottom: 1px solid #E3E3E3;
}
li.searchresult ul li {
    border-bottom: 1px solid;
    padding: 10px 5px 10px 5px;
    margin: 0;
    position: relative;
    left: 0px;
    top: 0px;
    clear: both;
    height: 55px;
}
li.searchresult ul {
    margin: 0;
    padding: 0;
}
li.searchresult_supplier div.header { padding: 5px }
li.searchresult_supplier {
    border-bottom: 1px solid;
    padding: 10px 5px 10px 5px;
    margin: 0 0 0 0;
}
li.searchresult_supplier h2 {
    font-size: 11px;
    font-weight: 700;
}
li.searchresult_supplier a.resultlink {
    float: left;
    padding: 5px;
    display: block;
    height: 25px;
    font-size: 10px;
    font-weight: normal;
    width: 80px;
    border: 1px solid;
    text-align: center;
    margin: 0 5px 5px 0;
}
li.searchresult_supplier a.resultlink h3 {
    font-size: 10px;
    font-weight: normal;
}
li.searchresult_supplier a.searchthumb {
    float: left;
    margin: 0 5px 5px 0;
    width: 90px;
    height: 35px;
    text-align: center;
    border: 1px solid;
}
li.searchresult a:hover { text-decoration: underline }
li.searchresult h3 {
    font-weight: normal;
    overflow: hidden;
    font-size: 11px;
    font-weight: 700;
    white-space: nowrap;
    z-index: -1;
    height: 15px;
}
a.searchthumb {
    border: none;
    float: left;
    margin: 0 5px 0 0;
    width: 57px;
    height: 57px;
    text-align: center;
}

.modal .ajaxSlider .sliding_container .slide {width: 578px;}

/*	BANNER SLIDER CSS
	------------------------ */

/* Bannerslider */
#center .slider_banner {width: 630px;}
#center .slider_banner .bannerSlider {width: 630px;height: 386px; position: relative; margin-bottom: 15px;}
#center .slider_banner .bannerSlider .sliding_outer {position: relative; overflow: hidden; left: 0px; width: 630px; height: 386px;}

/* Similar article slider */
#center .slider2 {width: 628px;}
#center .slider2 .ajaxSlider {width: 628px; height: 220px; position: relative; margin-top: 12px; margin-bottom: 15px;}
#center .slider2 .ajaxSlider .sliding_outer {position: relative; overflow: hidden; left: 26px; width: 576px; height: 190px;}

/* New articles slider */
#center .slider {width: 628px;}
#center .slider .ajaxSlider {width: 628px; height: 220px; position: relative; margin-top: 0px; margin-bottom: 15px;}
#center .slider .ajaxSlider .sliding_outer {position: relative; overflow: hidden; left: 26px; width: 576px; height: 190px;}

/* Supplier slider */
#center .supplier_slider {width:628px;}
#center .supplier_slider .ajaxSlider {width: 628px; height: 130px; position: relative; margin-top: 20px; margin-bottom: 20px;}
#center .supplier_slider .sliding_outer {position: relative; overflow: hidden; left: 26px; width: 576px; height: 101px;}

/* Customers bought too slider */

#detailinfo .horizontal_slider,
#detailinfo .slider {width: 763px;}
#detailinfo .horizontal_slider .ajaxSlider,
#detailinfo .slider .ajaxSlider {width: 763px; height: 220px; position: relative; margin-bottom: 20px;}
#detailinfo .horizontal_slider .ajaxSlider .sliding_outer,
#detailinfo .slider .ajaxSlider .sliding_outer {position: relative; overflow: hidden; left: 26px; width: 711px; height: 190px;}

/* Customers similar slider */
#detailinfo .slider2 {width: 763px;}
#detailinfo .slider2 .ajaxSlider {width: 763px; height: 220px; position: relative; margin-bottom: 20px;}
#detailinfo .slider2 .ajaxSlider .sliding_outer {position: relative; overflow: hidden; left: 26px; width: 711px; height: 190px;}

/* Ajax add article slider */
.ajax_add_article .slider_modal {width: 630px;}
.ajax_add_article .slider_modal .ajaxSlider {width: 630px; height: 210px; position: relative; margin: 0px 0px 15px 15px;}
.ajax_add_article .slider_modal .ajaxSlider .sliding_outer {position: relative; overflow: hidden; left: 26px; width: 578px; height: 210px;}


/*	BUTTON SOLUTION
	------------------------ */
/** Inner container styling */
#confirm .personal-information .inner_container,
#confirm .additional-options .inner_container,
.agb_cancelation .inner_container {
	padding: 10px 15px 5px;
	margin: 0;
	border: 1px solid #c7c7c7;
	border-top: 0 none;
	line-height: 16px;
}

/** Headline */
#confirm .personal-information .underline,
#confirm .additional-options .table_premium h5,
#confirm .basket_slider .header,
#confirm .revocation .underline {
	color: #333;
	font-weight: bold;
	font-size: 12px;
	border-bottom: 1px solid #c7c7c7;
	margin: 0 0 8px;
	padding: 5px 0 0;
	line-height: 1.6em;
}

/** AGB and Cancelation */
.agb_cancelation .inner_container {}
.agb_cancelation .inner_container .revocation {
	padding: 0 10px;
	line-height: 16px;
	font-weight: bold;
}
.agb_cancelation .inner_container .revocation a {
	color: #dd4800;
	text-decoration: underline;
}

/** Structure of the personal information panel */
#confirm .personal-information .invoice-address,
#confirm .personal-information .shipping-address,
#confirm .personal-information .payment-display {
	float: left;
	width: 28.334%;
	margin: 0 5% 0 0;
	position: relative;
	height: 188px;
}
/** Last box, so we don't need a margin here */
#confirm .personal-information .payment-display { margin: 0 }

/** Position the action buttons at the bottom of the panel */
#confirm .personal-information .actions {
	position: absolute;
	bottom: 0;
}

/** Additional options - Structure */
#confirm .additional-options .voucher-add-article,
#confirm .additional-options .user-comment {
	float: left;
	width: 48%;
	margin: 0 2% 0 0;
}
#confirm .additional-options .voucher-add-article label { display: block }
#confirm .additional-options .voucher-add-article .text { width: 70% }
#confirm .additional-options .user-comment textarea {
	width: 98%;
	height: auto;
}

/** Thumbnails */
#confirm .table_row a.thumb_image {
	background: #fff;
	border: 1px solid #aaa;
	margin: 0 0 15px 5px;
    padding: 10px 10px;

	/** CSS3 Border radius */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

#confirm .table_row a.thumb_image img {
    display: block;
	/** CSS3 Border radius */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

/** Premium articles */
#confirm .additional-options .table_premium .body .article {
	float: left;
	height: 105px;
	margin: 0 6px 10px 6px;
	width: 235px;
	background: #fff;
	border: 1px solid #dadada;
	position: relative;
}
#confirm .additional-options .table_premium .body .thumbnail {display:block;height: 57px;width: 57px;text-align: center;float:left;margin: 15px 0 0 5px;}
#confirm .additional-options .table_premium .body .thumbnail img { width: 57px; height: 57px; display: block }
#confirm .additional-options .table_premium  .body .article .name {display: block; margin: 10px 0 0 72px;}
#confirm .additional-options .table_premium .body .bonus_price {position: absolute;bottom: 15px;left: 75px;margin: 5px 0 0 0;color: #333;font: bold 11px/14px Arial, sans-serif;float:left;}
#confirm .additional-options .table_premium .body .bonus_price .pr1 {margin-right: 8px;}
#confirm .additional-options .table_premium .body .article .button-right {
	width: 147px;
	position: absolute;
	bottom: 8px;
	left: 70px;
}

/** Payment methods */
#confirm .personal-information .payment_method .grid_5 { padding: 0 }
#confirm .personal-information .payment_method .bankdata { left: 240px }
#confirm .personal-information .payment_method .bankdata label {
	display: block;
	float: left;
	width: 100px;
	padding-top: 6px;
}
#confirm .personal-information .payment_method .bankdata .text { width: 365px }
#confirm .personal-information .payment_method .method .last,
#confirm .personal-information .payment_method .bankdata .description,
#confirm .table .main-article-features p {
	color: #888;
}

/** Reposition all footer elements */
#confirm .additional_footer { width: 888px }
#confirm .table_foot {
	padding-left: 451px;
	width: 329px;
	border-bottom: 0 none;
}

/** Country notice */
#confirm .country-notice {
	border: 1px solid #c7c7c7;
	border-top: 0 none;
	position: relative;
	top: -11px;
}
#confirm .country-notice p {
	padding-left: 460px;
	padding-right: 5px;
	color: #888;
}

/** Fix the delivery status icons */
.status0, .status1, .status2, .status3, .status4, .status5, .status6, .status7, .status8 {
	background-image: url(../images/sprite_delivery.png)
}

/** Remove the white stripes in the aggregation */
.table #aggregation_left .border, .table #aggregation_left .doubleborder { border-color: transparent }

/** Fix VAT table header cell */
#confirm .table .table_head .charge_vat {
	margin-left: 0;
	margin-right: 0;
	width: 100px;
}
/** Reposition the button and the button text */
#confirm .additional_footer .actions { margin: 0 100px 0 }
#confirm .additional_footer #basketButton { padding-left: 15px }

/** Bonus system */
#confirm .table_foot .basket-points { background: transparent }
#confirm .table_foot .basket-points .spending_left,
#confirm .table_foot .basket-points .earning_left {
	width: 145px;
	border: 0 none;
}
#confirm .points_for_basket .inner_container {
	width: 100%;
	padding: 0;
	border: 0 none;
	border-right: 1px solid #c7c7c7;
}
#confirm .points_for_basket .before {
	padding: 0 0 0 50%;
	margin: 0 0 0 -25%;
}
#confirm .basket_slider { position: relative }
#confirm .basket_slider .header {
	background: transparent;
	height: auto;
	margin: 0 0 18px;
}
#confirm .basket_slider .inner-content { padding: 0 0 23px }
#confirm .basket_slider .inner-content .slider-info {
	left: 15px;
	top: 110px;
}

/** Reformat the error message */
.ctl_checkout #content .agb_confirm {
	padding: 12px 35px 12px 14px;
	margin-bottom: 18px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	color: #B94A48;
	background: #F2DEDE;
	width: 728px;
	left: 80px;
	position: relative;

	/** CSS3 Border radius */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

/** Dispatch methods */
#confirm .dispatch-methods { padding: 0 0 20px }
#confirm .dispatch-methods .method { margin: 0 0 6px }
#confirm .dispatch-methods .method .last { color: #888 }

.ctl_checkout #content .agb-holder,
.ctl_checkout #content .newsletter-holder {
    height: 22px;
}
.ctl_checkout .agb_accept {
    position: absolute;
    z-index: 1;
    left: 16px;
    top: 67px;
}
.ctl_checkout .more_info {
    border: 0 none;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 1;
    left: 16px;
    top: 95px;
}
/** Table styling */
#confirm .table_row a.thumb_image,
#confirm .table .table_row .basket_details {
    float: left;
}
#confirm .table .table_row .basket_details  {
    position: static;
    left: auto; top: auto;
    width: 180px;
    margin: 0 0 0 15px;
}
.ajax_modal_custom { width: auto }
.outer-confirm-container { position: relative; }
/** IE 7 Hack */
*+html .outer-confirm-container { zoom: 1 }
*+html #confirm .personal-information .inner_container, *+html #confirm .additional-options .inner_container, *+html .agb_cancelation .inner_container {
    zoom: 1;
}
*+html .voucher-add-article .button-left, *+html .voucher-add-article .button-middle, *+html .voucher-add-article .button-right {
    width: 85px;
    top: -4px;
}
*+html .ctl_checkout #basketButton {
    right: 100px;
}
.ctl_checkout .modal .headingbox {
    color: #dd4800;
    padding: 5px 0 5px 20px;
    height: 20px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #c7c7c7;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    letter-spacing: 0;
}
.ctl_checkout .modal { position: relative }
.ctl_checkout .modal .close {
    display: block;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAVCAMAAABrN94UAAABC1BMVEXiTgeqOADum3PlZSnmZinkXRzqhFTjVBDlZinjXRziUxDwpYLiVBDjXBzqhVTcYR7dYR6qNwDnbzbhTQf98+7hTgf7593unnfztpnunXfjfEj0vqSrOwSyZUDfZyv528zhbjLNkHPmbTPqn3neYyGtQgz40b+uTR/upYLidT3lZijlg1PiVRHplWvqhlXwo4CsOwX53M3sjWDp1cm0bkzxqojojF+1dVf2ybPpfUnvnnfdYBz76eH76N+wVSn52syqOQKxXTSsPwzUp5CtRxXccDbtpYPoeUT14dbcYB73zrvdYB3pekXskGToekXtkGTrhVTvm3PwpoKrOADncDbgSQDgSAD////hSQDCK3Q1AAABMklEQVR42kVNh3aCQBBcBAQENUaiMb333rvp1UKEu73//5LMgu9l383OzO7NHX2+j4oKw3AUgnKz9UKrv6hSCchZlOhL2h8O+0OgjwMByvUZXSRJrQwkaHJqSYJenqfdQW8wAHpoUmDBE81kWTYJ5PTfH2jb9h3HsW3fd2wH2oeE2qSlwHWrrht0+K4aXPFsUBXnvtJC5EUVL4q8DT484XuvUpETPdNak4imgJ04PuZrqKbgiG6NlDZKd5jPtTHKKNiUfjTISJtm7mIGB2/Rl1bF6oDjFt9gLg6JCdwRudfi9gfzioJRsqgXWTz0bUybF+VWkVDYiwHlChIZi+rIKoN/0NANpMYACXhx8JIbl8IfCKNkLjRe6JTeNEgjViRhROo5Ol1vpJaVohoWALbgH5f/AH7De3xSMcDcAAAAAElFTkSuQmCC") no-repeat;
    width: 24px;
    height: 21px;
    text-indent: -9999px;
    position: absolute;
    right: 10px;
    top: 12px;
    cursor: pointer;
}

#topbar .flag {
	background: url("../images/icons/ico-flags.png") no-repeat 0 0;
	margin: 8px 5px 0 0;
	height: 11px; width: 14px;
	display: block;
}

#topbar .de_DE {background-position: 0 0;}
#topbar .en_GB {background-position: 0 -11px;}

/** Styling the result box for the fuzzy search */
.fuzzy_result_box {
    width: 627px;
    float: left;
    margin: 0 10px 10px;
}
.fuzzy_result_box .inner_box {
    border: 1px solid #c7c7c7;
    border-top: 0 none;
    padding: 15px 25px;
    background: url(../images/backgrounds/bg_breadcrumb.png) left top repeat-x;
}
.fuzzy_result_box .headingbox {
    background: #fff !important;
}
.fuzzy_result_box .inner_box ul {
    width: 47%;
    display: block;
    float: left;
    margin: 0 0 0 1%;
    height: 70px;
    overflow-y: scroll;
}
.fuzzy_result_box .inner_box ul.first {
    border-right: 1px solid #DFDFDF;
    margin: 0 1% 0 0;
}
.fuzzy_result_box .inner_box li {
    background: url(../images/icons/ico_search_inactive.png) no-repeat;
    height: 13px;
    line-height: 13px;
    padding: 0 0 0 21px;
    margin: 0 0 10px 0;
}
.fuzzy_result_box .inner_box li:hover {
    background: url(../images/icons/ico_search_active.png) no-repeat 0 0;
}
.fuzzy_result_box .inner_box a:hover {
    text-decoration: none;
    color: #E1540F;
}
#content #left .filter_search .searchbox li { display: block; height: auto }
#content #left .filter_search .searchbox li.head { height: auto; border-top: 1px solid #DFDFDF }

/*	IPAD RELATED STYLES
	------------------------ */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	div.inner_searchcontainer { width: 280px }
	div.inner_searchcontainer #submit_search, input#searchfield {
		-webkit-appearance: none;
		-webkit-border-radius: 0;
	}
	.ui-tabs .ui-tabs-nav:after {
		content: ' ';
		clear: both;
		float: none;
		display: block;
		height: 0; line-height: 0;
	}
	#detail #detailinfo .inner_tabs {
		position: relative;
		top: -1px;
	}
	#lbOverlay { padding: 30px 30px 30px 0 }

    /** Banner slider - Hardware accelared */
    #center .slider_banner .bannerSlider .sliding_container,
    #center .slider2 .sliding_container,
    #center .slider .sliding_container,
    #center .supplier_slider .sliding_container,
    #detailinfo .slider .sliding_container,
    .ajax_add_article .slider_modal .sliding_container {
        -webkit-transition: all 0.3s linear;
    }
}