{block name="frontend_index_content"}
<div class="grid_20 finish" id="center">
    <div class="" style="margin: 0;">
        {$KlarnaOrder.gui.snippet}
    </div>
    <div class="doublespace">&nbsp;</div>
</div>
{/block}