<style type="text/css">
    .sf{
        padding: 10px !important;
        margin: 0 265px 0 10px !important;
        
    } 
</style>
<div class="grid_9 box sf" style=" width:350px; ;height: 324px; background: #DCE9F2; color: #000; margin-top: 0px;">
    
    Zahlungs-Optionennnnn<br />
    <table style="padding: 0; color: #000;" border="0">
       <tr>
           <td style="padding: 0"><img src="/templates/bellaron/frontend/_resources/images/img_index/paypal.gif" style="width: 60px; height: 50px;"  /></td>
           <td style="padding: 0">PayPal</td>
       </tr>
       <tr>
           <td style="padding: 0"><img src="/templates/bellaron/frontend/_resources/images/img_index/klarna_invoice.gif" style="width: 60px; height: 50px;"  /></td>
           <td style="padding: 0">Rechnung</td>
       </tr>
       <tr>
           <td style="padding: 0"><img src="/templates/bellaron/frontend/_resources/images/img_index/klarna_ratenkauf.gif" style="width: 60px; height: 50px;"  /></td>
           <td style="padding: 0">Ratenkauf (Restsumme kann jederzeit abgelöst werden)</td>
       </tr>
       <tr>
           <td style="padding: 0"><img src="/templates/bellaron/frontend/_resources/images/img_index/elv_big2.gif" style="width: 60px; height: 50px;"  /></td>
           <td style="padding: 0">Lastschrift, via PayPal. Auch ohne PayPal Konto...</td>
       </tr>
       <tr>
           <td style="padding: 0"><img src="/templates/bellaron/frontend/_resources/images/img_index/cards.gif" style="width: 60px; height: 50px;"  /></td>
           <td style="padding: 0">Kreditkarte, via PayPal. Auch ohne PayPal Konto...</td>
       </tr>
    </table>
    
    <!--{* Add voucher *}
    {block name='frontend_checkout_table_footer_left_add_voucher'}
    <div class="vouchers">
        <form method="post" action="{url action='addVoucher' sTargetAction=$sTargetAction}">
            <label for="basket_add_voucher">{s name="CheckoutFooterLabelAddVoucher"}{/s}</label>
            <input type="text" class="text" id="basket_add_voucher" name="sVoucher" onfocus="this.value='';" value="{s name='CheckoutFooterAddVoucherLabelInline'}{/s}" />
            <input type="submit" value="{s name='CheckoutFooterActionAddVoucher'}{/s}" class="button_tablefoot" />
        </form>
    </div>
    {/block}
    
    <hr class="clear" />
    
    {* Add article with order number *}
    {block name='frontend_checkout_table_footer_left_add_article'}
    <div class="add_article">
        <form method="post" action="{url action='addArticle' sTargetAction=$sTargetAction}">
            <label for="basket_add_article">{s name='CheckoutFooterLabelAddArticle'}{/s}:</label>
            <input id="basket_add_article" name="sAdd" type="text" value="{s name='CheckoutFooterIdLabelInline'}{/s}" onfocus="this.value='';" class="ordernum text" />
            <input type="submit" class="button_tablefoot" value="{s name='CheckoutFooterActionAdd'}{/s}" />
        </form>
    </div>
    {/block}-->
    
</div>